public-hoist-pattern[]=jsc-android
public-hoist-pattern[]=*metro*
public-hoist-pattern[]=@babel*
public-hoist-pattern[]=*expo*
public-hoist-pattern[]=*react-native-gradle-plugin*
public-hoist-pattern[]=*@react-native-community/cli-platform-android*
public-hoist-pattern[]=*@react-native-community/cli-platform-ios*